<div class="container mx-auto py-3">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://picsum.photos/seed/picsum/1000/600?random" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <%= @restaurant.name %>
            </h5>
            <p class="card-text">
                <%= @restaurant.address %>
            </p>
            <p class="card-text">
                <%= @restaurant.category %>
            </p>
            <p class="card-text">
                <% @restaurant.reviews.each do |review|%>
                <h5>Reviews</h5>
                <p>
                    <%= review.content %>
                </p>
                <br>
                <% end %>
            </p>
            <%= link_to "Home", restaurants_path, class: "btn btn-primary"%>
            <%= link_to "New Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>
        </div>
    </div>
</div>